<div class="">
    <div class="d-flex justify-content-between align-items-center  px-5 py-1 header_main">
      <div>
        <img  
        src="../../assets/Logo/logo.svg" 
        alt="Profile Picture" 
        width="250px" 
        height="50px" 
      />
      </div>

      <div class="d-flex align-items-center gap-3">
    
        <mat-icon matBadge="15" class="icon" matBadgeColor="warn">notifications</mat-icon>
  
   
        <mat-icon class="icon">language</mat-icon>
  
        <img 
          class="rounded img_src" 
          src="../../assets/Profile-pic/Profile.png" 
          alt="Profile Picture" 
          width="40px" 
          height="40px" 
        />
      </div>
    </div>
  </div>
  