<div class="container-fluid py-4 border-top">
    <div class="d-flex flex-column flex-md-row justify-content-evenly">
        <!-- Logo Section -->
        <div class="mb-3 mb-md-0">
            <img  
            src="../../assets/Logo/logo2.svg" 
            alt="Profile Picture" 
            width="150px" 
            height="50px" 
          />
          <div>&copy; 2022 </div>
        </div>

        <!-- Version Section -->
        <div class="mb-3 mb-md-0">
            <div class="mini-heading">Version</div>
            <div>2.2.2</div>
        </div>

        <!-- About Section -->
        <div class="mb-3 mb-md-0">
            <div class="mini-heading">About</div>
            <div>Contact Us</div>
            <div>Privacy</div>
            <div>Terms of Use</div>
        </div>
    </div>
</div>
