<div class="container-fluid py-4 border-top">
    <div class="d-flex flex-column flex-md-row justify-content-evenly">
        <div class="text-center mb-3 mb-md-0">
            <img  
                src="../../assets/Logo/logo2.svg" 
                alt="Logo" 
                width="150px" 
                height="50px" 
            />
            <div>&copy; 2022</div>
        </div>

        <div class="text-center text-md-left mb-3 mb-md-0">
            <div class="mini-heading">Version</div>
            <div>2.2.2</div>
        </div>

        <div class="text-md-start text-center text-md-left mb-3 mb-md-0">
            <div class="mini-heading">About</div>
            <div>Contact Us</div>
            <div>Privacy</div>
            <div>Terms of Use</div>
        </div>
    </div>
</div>
